@charset "utf-8";
/* CSS Document */

*{
    margin: 0;
    padding:0;
}

img{
	vertical-align:bottom;
	width:100%;
    height:100%;
    object-fit:cover;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

a {
	text-decoration: none;
	color:inherit;
}

button{
    border:none;
    background: transparent ;
    outline :none; 
}

body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*letter-spacing: 0.05em;
    height:100%;*/
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display:none
}

/*============↓ここからheader============*/
header{
    height:80px;
    width:100%;
    display: flex;
    position: fixed;
    top:0;
    border-bottom: solid 1px #ddd;
    background-color: aquamarine;
    z-index: 2;
}

.header-elements{
    width: 100%;
    padding: 0 80px;
    height:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}

/*--------↓ここからheader レスポンシブ--------*/
@media screen and (max-width: 1760px) {

	.header-elements{
        padding: 0 40px;
    }
}
/*--------↑ここまでheader レスポンシブ--------*/

/*
.header-search{
    width: 100%;
    padding: 0 40px;
    height:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}*/

/*----↓ここからheader-left----*/
.header-left{
    height:100%;
    width:100%;
}

.header-left-box{
    height:100%;
}

.logo-box{
    height:100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.logo-icon{
    height:40%;
}

.logo-letter{
    height:28%;
}
/*----↑ここまでheader-left----*/

/*----↓ここからheader-center----*/
.header-center{
    background-color: brown;
    width:100%;
    text-align: center;
    transform-origin: 0% 0%;
    max-width: 2520px;
}

.header-center-box{
    display: inline-flex;
    align-items: center;
    text-align: left;
    padding:0 0em;  /*仮*/
    background-color:#fff;
    border-radius:40px;  /*copy*/
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    /*transition: box-shadow 0.2s ease;  copy*/
    --lilsearch-field-text_min-width: 80px;
    max-width: 100%;
    vertical-align: middle;
    border:solid 1px #ddd;
    min-width: 348px;
    box-sizing: border-box;
    transform:translateY(16px);
}

.btn-where,.btn-when,.btn-number{
    height: 48px;
    display: flex;
    align-items: center;
}

.where,.when,.number{
    padding:0 16px;
    white-space: nowrap;
}

.btn-where{
    font-weight:bold;
    padding-left: 8px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: aqua;
}

.btn-when{
    font-weight:bold;
    background-color: aqua;
}

.btns-numbsearch{
    display: flex;
    align-items: center;
}

.btn-number{
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-right: 8px;
    background-color: aqua;
}

.search-icon{
    width:2.4em;
    background-color: aqua;
}

.btn-border{
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
    background-color:#ddd;
}
/*----↓ここから.hide-searchbox----*/

.hide-searchbox-a{
    background-color: rgba(200,200,200,0.4);
    box-sizing: border-box;
    /*transform:250ms ease, opacity 200ms ease 100ms,visibility 0ms 200ms;
    transform: scale(0.4,0.7272727272727273) translate(60px,-122px);*/
    opacity: 0;
    visibility: hidden;
    /*will-change: transform,opacity;*/
    padding-left:80px;
    padding-right:80px;
    
}

.header-searchbox-b{
    padding-bottom:16px;
}
.header-searchbox-c{
    display: flex;
    flex-direction: column;
}

.hide-box1-a{
    font-weight: 600;
    font-size: 16px;
}

.hide-box1-b{
    display: flex;
    justify-content: center;
    height: 80px;
}

.hide-box1-left,
.hide-box1-right{
    background-color: bisque;
    display: flex;
    align-items: center;
}

.btn-genre-stay-a,
.btn-genre-experience-a{
    font-weight: 600;
    background-color: aqua;
}

.btn-genre-stay-b,
.btn-genre-experience-b{
    margin: 10px 16px;
    background-color: blue;
}

.btn-online-experience-b{
    background-color:aquamarine;
    display: block;
    padding: 10px 16px;
}

.hide-box2-a{
    background-color: crimson;
}



/*----↑ここまで.hide-searchbox----*/

/*----↓ここから.hide-searchbox.toggle----*/

.hide-searchbox-a.toggle{
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    z-index: ;
    pointer-events: autoe; /* 修正 */
    transform: none;
    opacity: 1;
    visibility: visible;
}




/*----↑ここまで.hide-searchbox.toggle----*/

/*----↑ここまでheader-center----*/

/*----↓ここからheader-right----*/
.header-right{
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.header-right-box{
    display: flex;
    background-color:#fff;
    align-items: center;
}

.btns-hostlang{
    display: flex;
    justify-content: flex-end ;
    margin-right: 8px;
}

.btn-host,.btn-language,.btn-prof{
    display: flex;
    align-items: center;
    height:fit-content;
    border-radius:40px;  
}

.btn-host:hover,.btn-language:hover{
    background-color:#f7f7f7;
}

.btn-host a,.btn-language a{
    display: block;
    padding:0.8em;
}

.btn-host a{
    font-weight: bold;
}

.lang-icon{
    width:1.4em;
}

.mypage{
    display: flex;
    background-color: #fff;
    border-radius:40px;  
    border:solid 1px #ddd;
    padding: 5px 5px 5px 12px;
}

.menu-icon{
    width:1em;
}

.prof-icon{
    width:2em;
    margin-left: 12px; 
}
/*----↑ここまでheader-right----*/

/*============↑ここまでheader============*/

/*============↑ここからnav-bar============*/

.nav-bar{
    margin-top:80px;
    width:100%;
    max-height:78px;
    padding-block-start:20px;
    padding-top: 20px;
    /*background-color: aqua;*/
    opacity: 1;
    position: sticky;
    top:60px;
    z-index: 1;
}

.nav-inner-bar{
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    display: flex;
    align-items: center;
    background-color: azure;
}

/*----↓ここからnav-bar-left----*/

.nav-bar-left{
    /*background-color: bisque;*/
}

.nav{
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    list-style: none;
    height:78px;
}

.nav-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0 14px;
    margin: 12px 0 0;
    margin-right:32px;
}

.nav-option img{
    width:24px;
    margin-bottom:8px;
    /*hover時filter: contrast(1);*/
}

.op-cont{
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    min-width: 56px;
}




/*
.nav-option{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows:;
    gap:;


    font-weight: bold;
}

.nav-option{
    grid-column:;
    grid-row:;
}*/

/*----↑ここまでnav-bar-left----*/


/*============↑ここまでnav-bar============*/
