@charset "utf-8";
/* CSS Document */

*{
    margin: 0;
    padding:0;
}

img{
	vertical-align:bottom;
	width:100%;
    height:100%;
    object-fit:cover;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

a {
	text-decoration: none;
	color:inherit;
}

button{
    border:none;
    background: transparent ;
    outline :none; 
}

body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display:none
}

/*============↓ここからheader============*/
header{
    height:80px;
    width:100%;
    display: flex;
    position: fixed;
    top:0;
    border-bottom: solid 1px #ddd;
    background-color: aquamarine;
}

.header-elements{
    width: 100%;
    padding: 0 80px;
    height:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}

/*----↓ここからheader-center----*/
.header-center{
    background-color: brown;
    width:100%;
    text-align: center;
    transform-origin: 0% 0%;
    max-width: 2520px;
}

.header-center-box{
    display: inline-flex;
    align-items: center;
    text-align: left;
    background-color:#fff;
    border-radius:40px; 
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    --lilsearch-field-text_min-width: 80px;
    max-width: 100%;
    vertical-align: middle;
    border:solid 1px #ddd;
    min-width: 348px;
    box-sizing: border-box;
    transform:translateY(16px);
}

.menu-1,.menu-2,.menu-3{
    height: 48px;
    display: flex;
    align-items: center;
}

.menu-inner{
    padding:0 16px;
    white-space: nowrap;
}

.menu-1{
    font-weight:bold;
    padding-left: 8px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: aqua;
}

.menu-2{
    font-weight:bold;
    background-color: aqua;
}

.menu-search{
    display: flex;
    align-items: center;
}

.menu-3{
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-right: 8px;
    background-color: aqua;
}

.search-icon{
    width:2.4em;
    background-color: aqua;
}

.btn-border{
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
    background-color:#ddd;
}
/*----↓ここから.hide-searchbox----*/

.hide-searchbox-a{
    background-color: rgba(200,200,200,1);
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    padding-left:40px;
    padding-right:40px;
}

.header-searchbox-b{
    padding-bottom:16px;
}
.header-searchbox-c{
    display: flex;
    flex-direction: column;
}

.hide-box1-a{
    font-weight: 600;
    font-size: 16px;
}

.hide-box1-b{
    display: flex;
    justify-content: center;
    height: 80px;
}

.hide-box1-left,
.hide-box1-right{
    background-color: bisque;
    display: flex;
    align-items: center;
}

.btn-one,
.btn-two{
    font-weight: 600;
    background-color: aqua;
    margin: 10px 16px;
}



.btn-online-experience-b{
    background-color:aquamarine;
    display: block;
    padding: 10px 16px;
}

/*----↑ここまで.hide-searchbox----*/

/*----↓ここから.hide-searchbox.toggle----*/

.hide-searchbox-a.toggle{
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    z-index: 2;
    pointer-events: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    height:500px;
}

/*----↑ここまで.hide-searchbox.toggle----*/

/*----↑ここまでheader-center----*/


/*============↑ここまでheader============*/


main{
    margin-top: 80px;
}

.space{
    width:90%;
    margin: auto;
    height:500px;
    background-color:aquamarine;
    display: block;
}