.dir.fbrpxjb[class][class]{animation-name:fade-in-fbrpxjb;animation-duration:800ms;animation-fill-mode:both;animation-delay:0ms;}

@keyframes fade-in-fbrpxjb{
from{opacity:0;}

to{opacity:1;}}

.coxzsxx[class][class]{position:relative;z-index:1;}

.dir.coxzsxx[class][class]{background:white;}

.cd9freh[class][class]::after{content:'';display:block;position:absolute;top:0;bottom:0;z-index:-1;}

.dir.cd9freh[class][class]::after{left:0;right:0;box-shadow:rgb(0 0 0 / 16%) 0 0 6px;transition:box-shadow 0.2s ease;}

.dir.ilrd0ld[class][class]{padding:14px 24px 0 24px;}

.f1aq6y3m[class][class]{-webkit-transition:opacity 0.2s,height 0.2s,-webkit-transform 0.3s;height:50px;}

.dir.f1aq6y3m[class][class]{margin-top:10px;transition:opacity 0.2s,height 0.2s,transform 0.3s;}

.dir-ltr.f1aq6y3m[class][class]{padding-left:20px;}

.dir-rtl.f1aq6y3m[class][class]{padding-right:20px;}

@media (prefers-reduced-motion:reduce){
.dir.f1aq6y3m[class][class]{transition:'none';}}

.h1d6hxec[class][class]{height:4px;opacity:0;}

.dir.h1d6hxec[class][class]{transform:translateY(-40px);transition:height 0.3s;}
.dir.atm_9j_tlke0l{cursor:pointer;}

.dir.atm_r3_1h6ojuz{text-align:center;}

.dir.atm_3f_97hwo{border:1px solid black;}

.dir.atm_2d_1x778eo.atm_2d_1x778eo{background-color:white;}

.atm_kd_glywfm{outline:none;}

.dir.atm_l8_idpfg4{padding:0;}

.dir.atm_gi_idpfg4{margin:0;}

.dir.atm_174zlj6_13gfvf7:disabled{cursor:not-allowed;}

.atm_9s_1ulexfb{display:block;}

.atm_e2_idpfg4{height:0;}

.atm_7l_1j28jx2{color:transparent;}

.atm_ks_15vqwwr{overflow:hidden;}

.atm_vl_15vqwwr{visibility:hidden;}

.atm_mj_glywfm{pointer-events:none;}

.dir.atm_2d_11x86a4.atm_2d_11x86a4{background-color:black;}

.atm_7l_1x778eo{color:white;}

.dir.atm_2d_32ev60.atm_2d_32ev60{background-color:pink;}

.dir.atm_3f_107edj6{border:1px solid red;}

.atm_ax_idpfg4.atm_ax_idpfg4{flex-grow:0;}

.atm_bb_idpfg4.atm_bb_idpfg4{flex-shrink:0;}

.atm_9s_1txwivl{display:flex;}

.atm_h_1h6ojuz.atm_h_1h6ojuz{align-items:center;}

.atm_fc_1h6ojuz.atm_fc_1h6ojuz{justify-content:center;}
.c109ki4m[class][class]{align-items:stretch;color:var(--f-k-smk-x);display:flex;min-height:56px;min-width:285px;}

.dir.c109ki4m[class][class]{background:var(---pc-g-v-g);border-radius:1000px;}

.dir.e11vjh0i[class][class]{background:var(--f-mkcy-f);border:0.5px solid rgba(0,0,0,0.08);box-shadow:0 3px 10px rgba(0,0,0,0.1);transform:translate3d(0,0,0);}

.ljicvoc[class][class]{align-items:center;display:flex;min-width:100px;width:100%;}

.r15cp21x[class][class]{display:flex;}

.dir-ltr.l1762013[class][class]{padding:0 var(--jaa-ni-h) 0 20px;}

.dir-rtl.l1762013[class][class]{padding:0 20px 0 var(--jaa-ni-h);}

.lxu4gwz[class][class]{display:flex;height:100%;}

.cfpmckc[class][class]{display:flex;flex-direction:column;width:100%;}

.dir-ltr.cfpmckc[class][class]{padding-left:2px;}

.dir-rtl.cfpmckc[class][class]{padding-right:2px;}

.p1uhuw2g[class][class]{font-size:14px;font-weight:600;line-height:20px;}

.s1t0vaho[class][class]{color:var(--fo-jk-r-s);display:flex;font-size:12px;line-height:16px;}

.i1hupcay[class][class]{display:flex;min-width:50px;}

.dir.s1zug1q[class][class]{padding:0 5px;}

.dir-ltr.b1ob4trc[class][class]{padding:0 var(--jaa-ni-h) 0 20px;}

.dir-rtl.b1ob4trc[class][class]{padding:0 20px 0 var(--jaa-ni-h);}

.f1nj4bis[class][class]{align-items:center;box-sizing:border-box;display:flex;height:36px;justify-content:center;width:36px;}

.dir.f1nj4bis[class][class]{border:1px solid var(--j-qkgmf);border-radius:25px;margin:0 10px;}

.dir.fv97zm1[class][class]{border:2px solid var(--f-k-smk-x);}

.fw09vnz[class][class]{display:flex;min-width:0;}
.c120lmsc[class][class]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
