.dir.atm_4b_18pqv07.atm_4b_18pqv07{border-color:var(--f-k-smk-x);}

.dir.atm_26_1hbpp16{background:var(--f-mkcy-f);}

.atm_7l_18pqv07{color:var(--f-k-smk-x);}

.dir.atm_1860hsr_18pqv07.atm_1860hsr_18pqv07:focus-visible{border-color:var(--f-k-smk-x);}

.atm_1ceipv4_18pqv07:focus-visible{color:var(--f-k-smk-x);}

.dir.atm_wa0l67_1lyxhpa:focus-visible{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.atm_1y7vc0e_18pqv07.atm_1y7vc0e_18pqv07:focus[data-focus-visible-added]{border-color:var(--f-k-smk-x);}

.atm_u0uin_18pqv07:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.atm_k7s5ow_1lyxhpa:focus[data-focus-visible-added]{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

@media (hover:hover){
.dir.atm_1r9q275_1otlplk.atm_1r9q275_1otlplk.atm_1r9q275_1otlplk:hover{border-color:var(--bgxgx);}}

@media (hover:hover){
.dir.atm_wolyye_1nh1gcj.atm_wolyye_1nh1gcj:hover{background:var(---pc-g-v-g);}}

@media (hover:hover){
.atm_1i1170i_18pqv07.atm_1i1170i_18pqv07:hover{color:var(--f-k-smk-x);}}

.dir.atm_iiao3o_1otlplk.atm_iiao3o_1otlplk:active{border-color:var(--bgxgx);}

.dir.atm_1kevezh_1nh1gcj:active{background:var(---pc-g-v-g);}

.atm_16scgop_18pqv07:active{color:var(--f-k-smk-x);}

.dir.atm_j9qr6e_161hw1.atm_j9qr6e_161hw1:disabled{border-color:var(--j-qkgmf);}

.dir.atm_oln6rx_1hbpp16:disabled{background:var(--f-mkcy-f);}

.atm_1yfe54e_161hw1:disabled{color:var(--j-qkgmf);}
.atm_mk_h2mmj6{position:relative;}

.dir.atm_9j_1kdvhqb{cursor:text;}

.atm_9s_1txwivl{display:flex;}

.atm_j6_8vuzuz{min-height:56px;}

.atm_vy_1osqo2v{width:100%;}

.dir.atm_gi_idpfg4{margin:0;}

.dir.atm_3f_glywfm{border:none;}

.atm_7l_11x86a4{color:black;}

.dir.atm_2d_1x778eo.atm_2d_1x778eo{background-color:white;}

.atm_h_1h6ojuz.atm_h_1h6ojuz{align-items:center;}

.dir-ltr.atm_lk_1fwxnve.atm_lk_1fwxnve{padding-left:12px;}

.dir-rtl.atm_lk_1fwxnve.atm_lk_1fwxnve{padding-right:12px;}

.atm_j3_1ssbidh{max-width:50%;}

.atm_vv_1q9ccgz{white-space:nowrap;}

.atm_am_kb7nvz{flex:1;}

.dir.atm_l8_idpfg4{padding:0;}

.atm_fc_1h6ojuz.atm_fc_1h6ojuz{justify-content:center;}

.atm_jb_14noui3{min-width:36px;}

.atm_ks_15vqwwr{overflow:hidden;}

.dir-ltr.atm_lk_idpfg4.atm_lk_idpfg4{padding-left:0;}

.dir-rtl.atm_lk_idpfg4.atm_lk_idpfg4{padding-right:0;}

.dir-ltr.atm_ll_1fwxnve.atm_ll_1fwxnve{padding-right:12px;}

.dir-rtl.atm_ll_1fwxnve.atm_ll_1fwxnve{padding-left:12px;}

.dir-ltr.atm_h0_yjp0fh.atm_h0_yjp0fh{margin-right:-6px;}

.dir-rtl.atm_h0_yjp0fh.atm_h0_yjp0fh{margin-left:-6px;}

.dir.atm_lo_1ou6n1d.atm_lo_1ou6n1d{padding-top:26px;}

.atm_mk_stnw88{position:absolute;}

.dir-ltr.atm_fq_idpfg4{left:0;}

.dir-rtl.atm_fq_idpfg4{right:0;}

.atm_mj_glywfm{pointer-events:none;}

.atm_9s_1o8liyq{display:inline-block;}

.dir-ltr.atm_h0_i2wt44.atm_h0_i2wt44{margin-right:6px;}

.dir-rtl.atm_h0_i2wt44.atm_h0_i2wt44{margin-left:6px;}

.atm_vl_15vqwwr{visibility:hidden;}

.atm_9s_glywfm{display:none;}

.atm_kd_glywfm{outline:none;}

.dir-ltr.atm_ll_idpfg4.atm_ll_idpfg4{padding-right:0;}

.dir-rtl.atm_ll_idpfg4.atm_ll_idpfg4{padding-left:0;}

.dir.atm_lo_idpfg4.atm_lo_idpfg4{padding-top:0;}

.dir.atm_le_idpfg4.atm_le_idpfg4{padding-bottom:0;}

.dir-ltr.atm_gz_1fwxnve.atm_gz_1fwxnve{margin-left:12px;}

.dir-rtl.atm_gz_1fwxnve.atm_gz_1fwxnve{margin-right:12px;}

.dir-ltr.atm_h0_1fwxnve.atm_h0_1fwxnve{margin-right:12px;}

.dir-rtl.atm_h0_1fwxnve.atm_h0_1fwxnve{margin-left:12px;}

.dir.atm_h3_1ou6n1d.atm_h3_1ou6n1d{margin-top:26px;}

.dir.atm_gq_i2wt44.atm_gq_i2wt44{margin-bottom:6px;}

.atm_j6_t94yts{min-height:1px;}

.atm_7l_1kw7nm4{color:inherit;}

.dir.atm_2d_1j28jx2.atm_2d_1j28jx2{background-color:transparent;}

.atm_bx_1kw7nm4.atm_bx_1kw7nm4{font-family:inherit;}

.atm_c8_1kw7nm4.atm_c8_1kw7nm4{font-size:inherit;}

.atm_cs_1kw7nm4.atm_cs_1kw7nm4{font-weight:inherit;}

.atm_g3_1kw7nm4.atm_g3_1kw7nm4{line-height:inherit;}

.atm_1u_glywfm{-webkit-appearance:none;}

.dir.atm_g5akrt_f9n0m:-webkit-autofill{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.atm_ojeeic_f9n0m:-webkit-autofill:hover{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.atm_g59y7e_f9n0m:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.atm_86ioob_f9n0m:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px white inset;}

.atm_1jjsf9l_glywfm::-ms-clear{display:none;}

.dir.atm_9j_13gfvf7{cursor:not-allowed;}

.atm_k4_si67jz{opacity:0.3;}

.atm_7l_5scuol{color:red;}

.dir.atm_70_15rvgqd{box-shadow:inset 0 0 0 2px red;}
.atm_mk_stnw88{position:absolute;}

.atm_tk_f6fqlb{top:18px;}

.dir-ltr.atm_fq_1fwxnve{left:12px;}

.dir-rtl.atm_fq_1fwxnve{right:12px;}

.dir-ltr.atm_n3_1fwxnve{right:12px;}

.dir-rtl.atm_n3_1fwxnve{left:12px;}

.dir.atm_h3_idpfg4.atm_h3_idpfg4{margin-top:0;}

.dir-ltr.atm_h0_idpfg4.atm_h0_idpfg4{margin-right:0;}

.dir-rtl.atm_h0_idpfg4.atm_h0_idpfg4{margin-left:0;}

.dir.atm_gq_idpfg4.atm_gq_idpfg4{margin-bottom:0;}

.dir-ltr.atm_gz_idpfg4.atm_gz_idpfg4{margin-left:0;}

.dir-rtl.atm_gz_idpfg4.atm_gz_idpfg4{margin-right:0;}

.dir.atm_lo_idpfg4.atm_lo_idpfg4{padding-top:0;}

.dir-ltr.atm_ll_idpfg4.atm_ll_idpfg4{padding-right:0;}

.dir-rtl.atm_ll_idpfg4.atm_ll_idpfg4{padding-left:0;}

.dir.atm_le_idpfg4.atm_le_idpfg4{padding-bottom:0;}

.dir-ltr.atm_lk_idpfg4.atm_lk_idpfg4{padding-left:0;}

.dir-rtl.atm_lk_idpfg4.atm_lk_idpfg4{padding-right:0;}

.atm_7l_11x86a4{color:black;}

.atm_mj_glywfm{pointer-events:none;}

.dir-ltr.atm_tw_xchc94{transform-origin:0% 0%;}

.dir-rtl.atm_tw_xchc94{transform-origin:100% 0%;}

.atm_j3_1osqo2v{max-width:100%;}

.atm_ks_15vqwwr{overflow:hidden;}

.atm_sq_1l2sidv{text-overflow:ellipsis;}

.atm_vv_1q9ccgz{white-space:nowrap;}

.dir.atm_tr_1y95dkk{transform:translateY(-8px) scale(0.75);}

.atm_7l_5scuol{color:red;}
.plmw1e5[class][class]{height:100%;width:100%;}

.dir.plmw1e5[class][class]{margin-left:auto;margin-right:auto;}

.mq5rv0q[class][class]{max-width:var(--gp-section-max-width,var(--maxWidth));}
.atm_9s_1txwivl{display:flex;}

.atm_h_1fhbwtr.atm_h_1fhbwtr{align-items:stretch;}

.atm_fc_1y6m0gg.atm_fc_1y6m0gg{justify-content:flex-start;}

.atm_be_1g80g66.atm_be_1g80g66{flex-wrap:wrap;}

.atm_vy_1osqo2v{width:100%;}
.atm_1s_glywfm{-webkit-appearance:none;appearance:none;}

.atm_9s_1o8liyq{display:inline-block;}

.dir.atm_5j_1ssbidh{border-radius:50%;}

.dir.atm_3f_idpfg4{border:0;}

.atm_kd_idpfg4{outline:0;}

.dir.atm_gi_16flvx1{margin:-7px;}

.dir.atm_l8_1v6z61t{padding:7px;}

.atm_7l_1u9drld{color:buttontext;}

.dir.atm_2d_1j28jx2.atm_2d_1j28jx2{background-color:transparent;}

.dir.atm_9j_tlke0l{cursor:pointer;}

.atm_tl_1gw4zv3{touch-action:manipulation;}

.atm_nvh0zw_glywfm:focus-visible{outline:none;}

.dir.atm_10xqkau_glywfm:focus-visible::-moz-focus-inner{border:none;}

.dir.atm_6sivc_idpfg4:focus-visible::-moz-focus-inner{padding:0;}

.dir.atm_1t4m47o_idpfg4:focus-visible::-moz-focus-inner{margin:0;}

.dir.atm_so7p3s_glywfm:focus-visible:focus::-moz-focus-inner{border:none;}

.atm_x9r51u_glywfm:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.atm_e0aj52_glywfm.atm_e0aj52_glywfm:focus-visible{transition:none;}}

.dir.atm_1b7jadx_ryfd4z:focus-visible{transition:box-shadow 0.2s ease;}

.dir.atm_wa0l67_19qu2n2:focus-visible{box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.atm_z8v79x_glywfm:focus[data-focus-visible-added]{outline:none;}

.dir.atm_57992z_glywfm:focus[data-focus-visible-added]::-moz-focus-inner{border:none;}

.dir.atm_1fi7hcc_idpfg4:focus[data-focus-visible-added]::-moz-focus-inner{padding:0;}

.dir.atm_1bpl3k1_idpfg4:focus[data-focus-visible-added]::-moz-focus-inner{margin:0;}

.dir.atm_kwr3fs_glywfm:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.atm_1vbw7mi_glywfm:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.atm_iqrf8d_glywfm.atm_iqrf8d_glywfm:focus[data-focus-visible-added]{transition:none;}}

.dir.atm_1k7j3g0_ryfd4z:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;}

.dir.atm_k7s5ow_19qu2n2:focus[data-focus-visible-added]{box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.atm_1jhk75u_1piyxwk:disabled{opacity:0.5;}

.dir.atm_174zlj6_13gfvf7:disabled{cursor:not-allowed;}

.atm_1yfe54e_jajhky:disabled{color:graytext;}

.dir.atm_705yyq_idpfg4:not(:focus){border:0;}

.atm_a2xz2l_hxbz6r:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);}

.atm_9bhdwl_ysn8ba:not(:focus){-webkit-clip-path:inset(100%);clip-path:inset(100%);}

.atm_tv73d1_t94yts:not(:focus){height:1px;}

.atm_112he3w_15vqwwr:not(:focus){overflow:hidden;}

.atm_112he3w_zryt35:not(:focus){overflow:clip;}

.dir.atm_129h6bo_idpfg4:not(:focus){padding:0;}

.atm_1s57o31_stnw88:not(:focus){position:absolute;}

.atm_15g0ro0_1q9ccgz:not(:focus){white-space:nowrap;}

.atm_1r72ff3_t94yts:not(:focus){width:1px;}
.l1tdvn0e[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;}

.dir.l1tdvn0e[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.l1tdvn0e[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.l1tdvn0e[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.b55s2dl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b55s2dl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b55s2dl[class][class]:disabled{opacity:0.3;}

.dir.b55s2dl[class][class]:disabled{cursor:not-allowed;}
.dir.atm_9j_tlke0l{cursor:pointer;}

.atm_9s_1o8liyq{display:inline-block;}

.dir.atm_gi_idpfg4{margin:0;}

.atm_mk_h2mmj6{position:relative;}

.dir.atm_r3_1h6ojuz{text-align:center;}

.atm_rd_glywfm{-webkit-text-decoration:none;text-decoration:none;}

.dir.atm_6h_t94yts.atm_6h_t94yts{border-width:1px;}

.dir.atm_66_nqa18y.atm_66_nqa18y{border-style:solid;}

.dir.atm_4b_11x86a4.atm_4b_11x86a4{border-color:black;}

.atm_vy_1wugsn5{width:auto;}

.dir.atm_lo_1y44olf.atm_lo_1y44olf{padding-top:4px;}

.dir.atm_le_1y44olf.atm_le_1y44olf{padding-bottom:4px;}

.dir-ltr.atm_lk_ftgil2.atm_lk_ftgil2{padding-left:8px;}

.dir-rtl.atm_lk_ftgil2.atm_lk_ftgil2{padding-right:8px;}

.dir-ltr.atm_ll_ftgil2.atm_ll_ftgil2{padding-right:8px;}

.dir-rtl.atm_ll_ftgil2.atm_ll_ftgil2{padding-left:8px;}

.dir.atm_26_1spn1w4{background:lightgrey;}

.atm_7l_11x86a4{color:black;}

.atm_c8_dlk8xv.atm_c8_dlk8xv{font-size:14px;}

.atm_bx_1kw7nm4.atm_bx_1kw7nm4{font-family:inherit;}

.atm_tl_1gw4zv3{touch-action:manipulation;}

.dir.atm_174zlj6_13gfvf7:disabled{cursor:not-allowed;}

.atm_1jhk75u_si67jz:disabled{opacity:0.3;}

.atm_vy_1osqo2v{width:100%;}

.dir.atm_705yyq_idpfg4:not(:focus){border:0;}

.atm_a2xz2l_hxbz6r:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);}

.atm_9bhdwl_ysn8ba:not(:focus){-webkit-clip-path:inset(100%);clip-path:inset(100%);}

.atm_tv73d1_t94yts:not(:focus){height:1px;}

.atm_112he3w_15vqwwr:not(:focus){overflow:hidden;}

.atm_112he3w_zryt35:not(:focus){overflow:clip;}

.dir.atm_129h6bo_idpfg4:not(:focus){padding:0;}

.atm_1s57o31_stnw88:not(:focus){position:absolute;}

.atm_15g0ro0_1q9ccgz:not(:focus){white-space:nowrap;}

.atm_1r72ff3_t94yts:not(:focus){width:1px;}
.atm_c8_1kw7nm4.atm_c8_1kw7nm4{font-size:inherit;}

.atm_bx_1kw7nm4.atm_bx_1kw7nm4{font-family:inherit;}

.atm_cs_1kw7nm4.atm_cs_1kw7nm4{font-weight:inherit;}

.atm_cd_1kw7nm4.atm_cd_1kw7nm4{font-style:inherit;}

.atm_ci_1kw7nm4.atm_ci_1kw7nm4{font-feature-settings:inherit;font-variant:inherit;}

.atm_g3_1kw7nm4.atm_g3_1kw7nm4{line-height:inherit;}

.atm_7l_1kw7nm4{color:inherit;}

.atm_rd_8stvzk{-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.dir.atm_48epfq_tlke0l.atm_48epfq_tlke0l:hover{cursor:pointer;}}

@media (hover:hover){
.atm_1i1170i_1kw7nm4.atm_1i1170i_1kw7nm4:hover{color:inherit;}}

@media (hover:hover){
.atm_1q87l6g_8stvzk.atm_1q87l6g_8stvzk:hover{-webkit-text-decoration:underline;text-decoration:underline;}}

.atm_9i92u8_1kw7nm4:focus{color:inherit;}

.atm_1jnz9t4_8stvzk:focus{-webkit-text-decoration:underline;text-decoration:underline;}

.atm_vy_1osqo2v{width:100%;}

.atm_9s_1ulexfb{display:block;}

.dir.atm_705yyq_idpfg4:not(:focus){border:0;}

.atm_a2xz2l_hxbz6r:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);}

.atm_9bhdwl_ysn8ba:not(:focus){-webkit-clip-path:inset(100%);clip-path:inset(100%);}

.atm_tv73d1_t94yts:not(:focus){height:1px;}

.atm_112he3w_15vqwwr:not(:focus){overflow:hidden;}

.atm_112he3w_zryt35:not(:focus){overflow:clip;}

.dir.atm_129h6bo_idpfg4:not(:focus){padding:0;}

.atm_1s57o31_stnw88:not(:focus){position:absolute;}

.atm_15g0ro0_1q9ccgz:not(:focus){white-space:nowrap;}

.atm_1r72ff3_t94yts:not(:focus){width:1px;}
.atm_bx_1ltc5j7.atm_bx_1ltc5j7{font-family:var(--e-ls-qkw);}

.atm_c8_8ycq01.atm_c8_8ycq01{font-size:var(--iw-ehf-f);}

.atm_g3_adnk3f.atm_g3_adnk3f{line-height:var(---s-l-myu);}

.atm_cs_qo5vgd.atm_cs_qo5vgd{font-weight:var(--jx-zk-pv);}

.dir.atm_5j_9l7fl4{border-radius:var(--go-h-jh-l);}

.dir.atm_6h_t94yts.atm_6h_t94yts{border-width:1px;}

.dir.atm_66_nqa18y.atm_66_nqa18y{border-style:solid;}

.atm_kd_glywfm{outline:none;}

.dir.atm_lo_dlk8xv.atm_lo_dlk8xv{padding-top:14px;}

.dir.atm_le_dlk8xv.atm_le_dlk8xv{padding-bottom:14px;}

.dir-ltr.atm_lk_1tcgj5g.atm_lk_1tcgj5g{padding-left:24px;}

.dir-rtl.atm_lk_1tcgj5g.atm_lk_1tcgj5g{padding-right:24px;}

.dir-ltr.atm_ll_1tcgj5g.atm_ll_1tcgj5g{padding-right:24px;}

.dir-rtl.atm_ll_1tcgj5g.atm_ll_1tcgj5g{padding-left:24px;}

.atm_uc_ouvu0h{-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;}

.dir.atm_uc_ouvu0h{transition:box-shadow 0.2s ease,transform 0.1s ease;}

@media (prefers-reduced-motion:reduce){
.dir.atm_5zlr7v_glywfm.atm_5zlr7v_glywfm{transition:none;}}

.atm_r2_1j28jx2{-webkit-tap-highlight-color:transparent;}

.atm_nvh0zw_glywfm:focus-visible{outline:none;}

.dir.atm_10xqkau_glywfm:focus-visible::-moz-focus-inner{border:none;}

.dir.atm_6sivc_idpfg4:focus-visible::-moz-focus-inner{padding:0;}

.dir.atm_1t4m47o_idpfg4:focus-visible::-moz-focus-inner{margin:0;}

.dir.atm_so7p3s_glywfm:focus-visible:focus::-moz-focus-inner{border:none;}

.atm_x9r51u_glywfm:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.atm_e0aj52_glywfm.atm_e0aj52_glywfm:focus-visible{transition:none;}}

.dir.atm_1b7jadx_ryfd4z:focus-visible{transition:box-shadow 0.2s ease;}

.dir.atm_wa0l67_tz30h1:focus-visible{box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.atm_z8v79x_glywfm:focus[data-focus-visible-added]{outline:none;}

.dir.atm_57992z_glywfm:focus[data-focus-visible-added]::-moz-focus-inner{border:none;}

.dir.atm_1fi7hcc_idpfg4:focus[data-focus-visible-added]::-moz-focus-inner{padding:0;}

.dir.atm_1bpl3k1_idpfg4:focus[data-focus-visible-added]::-moz-focus-inner{margin:0;}

.dir.atm_kwr3fs_glywfm:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.atm_1vbw7mi_glywfm:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.atm_iqrf8d_glywfm.atm_iqrf8d_glywfm:focus[data-focus-visible-added]{transition:none;}}

.dir.atm_1k7j3g0_ryfd4z:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;}

.dir.atm_k7s5ow_tz30h1:focus[data-focus-visible-added]{box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.atm_1xc0vp4_18md41p:active{transform:scale(0.96);}

.atm_1jhk75u_kb7nvz:disabled{opacity:1;}
.a8jt5op[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.a8jt5op[class][class]{border:0;padding:0;}
@keyframes animation-64e8c8{
from{opacity:0.09049773755656108;}

to{opacity:0.15384615384615385;}}

.dir.atm_u_1yy80mb.atm_u_1yy80mb{animation-direction:alternate;}

.dir.atm_y_9cwzv5.atm_y_9cwzv5{animation-duration:1s;}

.dir.atm_12_q7pw6w.atm_12_q7pw6w{animation-fill-mode:forwards;}

.dir.atm_16_12c5xpv.atm_16_12c5xpv{animation-iteration-count:infinite;}

.dir.atm_1c_2rgkoi.atm_1c_2rgkoi{animation-name:var(--dls-shimmer-animation,animation-64e8c8);}

.atm_k4_7tcf61{opacity:0.09049773755656108;}

.dir.atm_1k_1ytfnp0.atm_1k_1ytfnp0{animation-timing-function:ease-in-out;}

.dir.atm_2d_1r31cwp.atm_2d_1r31cwp{background-color:currentColor;}

.atm_9s_1ulexfb{display:block;}

.atm_mk_h2mmj6{position:relative;}

@media (prefers-reduced-motion:reduce){
.dir.atm_e2p1ow_glywfm.atm_e2p1ow_glywfm{animation:none;}}

.dir.atm_1c_glywfm.atm_1c_glywfm{animation-name:none;}

.atm_vl_15vqwwr{visibility:hidden;}
