.c1b64imm[class][class]{bottom:0;color:var(--f-k-smk-x);display:flex;flex-direction:column;justify-content:space-between;position:absolute;top:0;width:100%;-webkit-tap-highlight-color:transparent;}

.dir.c1b64imm[class][class]{left:0;right:0;}

.dir.bclcilf[class][class]{background-color:transparent;}

@supports ((-webkit-backdrop-filter: blur(92px)) or (backdrop-filter: blur(92px))){
.bclcilf[class][class]{-webkit-backdrop-filter:blur(92px);backdrop-filter:blur(92px);}}

.dir.b19f4qc9[class][class]{background-color:var(---pc-g-v-g);transition:background-color 0.5s ease;}

.t1iebocu[class][class]{flex-shrink:0;display:grid;place-items:center;position:relative;}

.dir.t1iebocu[class][class]{padding-top:18px;padding-bottom:9px;}

.cgg0kx3[class][class]{position:absolute;top:22px;}

.dir-ltr.cgg0kx3[class][class]{left:20px;}

.dir-rtl.cgg0kx3[class][class]{right:20px;}

.t1gnb3ax[class][class]{overflow-y:auto;overflow-x:hidden;flex-grow:2;}

.dir.pnry4ot[class][class]{padding-bottom:12px;}

.dir.pgr8wsf[class][class]{margin:15px 12px 0 12px;}

.dir.f1w8v7mo[class][class]{animation:fadeInLeft-f1w8v7mo ease 0.5s;}

@keyframes fadeInLeft-f1w8v7mo{
from{opacity:0;transform:translate3d(-5%,0,0);}

to{opacity:1;transform:translate3d(0,0,0);}}

@media (prefers-reduced-motion:reduce){
.dir.f1w8v7mo[class][class]{animation:none;}}

.dir.frso7zv[class][class]{animation:fadeInRight-frso7zv ease 0.5s;}

@keyframes fadeInRight-frso7zv{
from{opacity:0;transform:translate3d(5%,0,0);}

to{opacity:1;transform:translate3d(0,0,0);}}

@media (prefers-reduced-motion:reduce){
.dir.frso7zv[class][class]{animation:none;}}

.dir.f1igdhch[class][class]{animation:fadeInDown-f1igdhch ease 0.5s;animation-delay:var( --staggered_animation_delay, 1 );}

@keyframes fadeInDown-f1igdhch{
0%{opacity:0;transform:translateY(-100px);}

100%{opacity:1;transform:translateY(0);}}

.f14nltnd[class][class]{opacity:0;}

.dir.f14nltnd[class][class]{animation:fadeInUp-f14nltnd ease 0.5s;animation-fill-mode:forwards;animation-delay:var( --staggered_animation_delay, 1 );}

@keyframes fadeInUp-f14nltnd{
0%{opacity:0;transform:translateY(100px);}

100%{opacity:1;transform:translateY(0);}}

.h11xb1yy[class][class]{visibility:hidden;}
.dir.g1kar0m2[class][class]{margin-bottom:-16px;}
.dir.p1uyj2jw[class][class]{background-color:var(--f-mkcy-f);border-radius:16px;box-shadow:0 1px 2px rgba(0,0,0,0.05),0 4px 6px rgba(0,0,0,0.03);border:none;}

.dir.plf0e5o[class][class]{box-shadow:0 0 0 1px rgb(0 0 0 / 4%),0 6px 20px rgb(0 0 0 / 20%);border-radius:24px;}

.rbjun5r[class][class]{width:auto;overflow:visible;color:inherit;font:inherit;-webkit-tap-highlight-color:transparent;}

.dir.rbjun5r[class][class]{border:none;margin:0;padding:0;background:transparent;}

.ccff5xa[class][class]{display:flex;flex-direction:row;height:56px;width:100%;justify-content:space-between;align-items:center;outline:none;}

.dir.ccff5xa[class][class]{padding:24px 20px;border-radius:16px;}

.dir.ccff5xa[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.ccff5xa[class][class]:focus::-moz-focus-inner{border:none;}

.ccff5xa[class][class]:-moz-focusring{outline:none;}

.dir.ccff5xa[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.ccff5xa[class][class]:focus-visible{transition:none;}}

.dir.ccff5xa[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.ccff5xa[class][class]:focus[data-focus-visible-added]{transition:none;}}

.e1un8c5r[class][class]{position:absolute;visibility:hidden;}

.egwu515[class][class]{font-size:var(--lhy-d-yl);line-height:var(--fme-bf-w);font-weight:var(--h-oqhch);}

.biod118[class][class]{height:100%;}

.dir.biod118[class][class]{padding:24px;}

.b1a9bqlf[class][class]{display:none;}

.c178totx[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--jx-zk-pv);color:var(--fo-jk-r-s);}

.c18jo9b2[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--jx-zk-pv);color:var(--f-k-smk-x);white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

.dir-ltr.c18jo9b2[class][class]{padding-left:16px;}

.dir-rtl.c18jo9b2[class][class]{padding-right:16px;}

.t1extv73[class][class]{position:absolute;top:var(--searchinput_panel-top);bottom:0;overflow:hidden;z-index:1;}

.dir.t1extv73[class][class]{left:0;margin:0 12px 7px 12px;right:0;border-bottom-left-radius:0;border-bottom-right-radius:0;}

.dir.w1ih1ve7[class][class]{margin:0;}

.hu3ahp1[class][class]{height:100%;}
.dzxnsb8[class][class]{display:flex;justify-content:space-between;flex-direction:column;height:100%;}

.dir.dzxnsb8[class][class]{padding-top:16px;}

.p1qtmmjh[class][class]{--searchinput_panel-top:144px;}
.rmlec7t[class][class]{position:'relative';}

.dfpycv0[class][class]{position:absolute;top:75px;bottom:69px;}

.dir.dfpycv0[class][class]{padding-top:24px;left:0;right:0;margin-inline:-14px;}
.t1t7c7gs[class][class]{display:flex;align-items:center;justify-content:center;width:100%;}

.dir.t1t7c7gs[class][class]{padding-bottom:8px;}

.t1t7c7gs[class][class]:nth-child(n) > *{width:100%;}

.dir.tyip4q0[class][class]{padding-bottom:8px;}

.trfv8kf[class][class]{width:100%;}

.dp1cp1f[class][class]{position:absolute;bottom:127px;}

.dir.dp1cp1f[class][class]{left:0;right:0;margin-inline:-14px;margin-top:-20px;}

.m1w81bkg[class][class]{position:absolute;bottom:69px;z-index:1000;}

.dir.m1w81bkg[class][class]{background:var(--f-mkcy-f);border-top:1px solid var(--d-nc-lt-s);inset-inline:-24px;}
.f1mg9bk8[class][class]{position:-webkit-sticky;position:sticky;bottom:0;display:flex;justify-content:space-between;z-index:1000;}

.dir.f1mg9bk8[class][class]{padding:12px 24px;border-top:1px solid var(--d-nc-lt-s);margin-inline:-24px;background-color:var(--f-mkcy-f);}

.b17wpd70[class][class]{line-height:18px;}
.h1xtag9d[class][class]{visibility:hidden;}

.dir.b1dsjvyj[class][class]{padding-top:16px;}

.p10ugdmb[class][class]{--searchinput_panel-top:80px;display:contents;}
.c1guygdh[class][class]{display:flex;align-items:center;}

.iv6icr7[class][class]{width:100%;}

.f1w3ezqn[class][class]{flex:1;}

.r1bar4jl[class][class]{display:none;position:absolute;overflow:auto;z-index:10;}

.dir.r1bar4jl[class][class]{margin-top:var(--jhzm-v-t);background-color:var(--f-mkcy-f);left:0;right:0;}

.r9vbvmc[class][class]{display:revert;}

.vhrghxx[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.vhrghxx[class][class]{border:0;padding:0;}
.r1faj5sg[class][class]{display:flex;align-items:center;justify-content:space-between;color:var(--f-k-smk-x);}

.dir.r1faj5sg[class][class]{padding:16px 24px;}

.lbkkije[class][class]{display:flex;align-items:center;justify-content:space-between;}

.t5nc01k[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--jx-zk-pv);}

.dir-ltr.t5nc01k[class][class]{padding-left:14px;}

.dir-rtl.t5nc01k[class][class]{padding-right:14px;}

.dir.c1la5te7[class][class]{border-top:var(--d-nc-lt-s) 1px solid;margin:21px -24px -24px -24px;}
.druw2jp[class][class]{display:flex;overflow-x:scroll;-moz-scroll-snap-type:x proximity;scroll-snap-type:x proximity;}

.dir.druw2jp[class][class]{margin:12px -24px 0 -24px;}

.druw2jp[class][class]::-webkit-scrollbar{display:none;}

.d1jtqel4[class][class]{display:flex;}

.djhnv3y[class][class]{box-sizing:border-box;height:158px;-webkit-scroll-snap-align:start;-moz-scroll-snap-align:start;-ms-scroll-snap-align:start;scroll-snap-align:start;width:132px;}

.dir.djhnv3y[class][class]{margin-top:4px;}

.dir-ltr.djhnv3y[class][class]:not(:last-child){margin-right:12px;}

.dir-rtl.djhnv3y[class][class]:not(:last-child){margin-left:12px;}

.djhnv3y[class][class]:first-child{-webkit-scroll-snap-align:end;-moz-scroll-snap-align:end;-ms-scroll-snap-align:end;scroll-snap-align:end;}

.dir-ltr.djhnv3y[class][class]:first-child{margin-left:22px;}

.dir-rtl.djhnv3y[class][class]:first-child{margin-right:22px;}

.djhnv3y[class][class]:last-child{-webkit-scroll-snap-align:end;-moz-scroll-snap-align:end;-ms-scroll-snap-align:end;scroll-snap-align:end;}

.dir-ltr.djhnv3y[class][class]:last-child{margin-right:22px;}

.dir-rtl.djhnv3y[class][class]:last-child{margin-left:22px;}
.f1d8juxi[class][class]{display:flex;justify-content:space-between;flex-shrink:0;}

.dir.f1d8juxi[class][class]{border-top:1px solid rgba(0,0,0,0.05);padding:12px 24px;background:rgba(255,255,255,0.5);}

.p1oks84c[class][class]{align-items:center;display:flex;}

.blzgqu8[class][class]{line-height:18px;}

.dir-ltr.blzgqu8[class][class]:not(:first-child){margin-left:10px;}

.dir-rtl.blzgqu8[class][class]:not(:first-child){margin-right:10px;}
.t1t6hiao[class][class]{position:fixed;will-change:left,width;}

.dir.t1t6hiao[class][class]{background-color:var(--f-k-smk-x);border:1px var(--f-k-smk-x) solid;border-radius:1px;}

.dir-ltr.t1t6hiao[class][class]{transition:left 0.2s,width 0.2s;}

.dir-rtl.t1t6hiao[class][class]{transition:right 0.2s,width 0.2s;}
